body{
    margin: 0;
    background: #f7f7f7;
    font-family: roboto;
}
#canvas,#temp{
    position: absolute;
    height: 2160px;
    width: 3840px;
    transform-origin: top left;
}
#canvas{
    background: #fff;
}
#canvas.onfront{
    z-index: 3;
}


::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ccc;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
    background: #fff;
}
path{
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width:6;
    fill:none;
}
path:hover{
    stroke:grey;
}
text {
    font-family: permanent marker, cursive;
    font-size: 40px;
    user-select: none;
}
text:hover{
    fill:grey;
    cursor: default;
}
#temp path{
    stroke:grey;
}

.title{
    font-family: damion;
    font-size: 50px;
    position: fixed;
    color: #d3d3d3;
    padding: 0 10px;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 5;
    will-change: transform;
}

.toolbar {
    position: fixed;
    bottom: 0;
    margin-left: 5px;
    user-select: none;
    z-index: 5;
}

.tool {
    width: 50px;
    height: 50px;
    background: #f7f7f7;
    border-radius: 50px;
    margin: 15px 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2);
    text-align: center;
    cursor: pointer;
    padding-top: 13px;
    box-sizing: border-box;
}

.tool.active{
    color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.2);
    background: #4a4a4a;
}

#md2{
    color:black;
}

.zoombar {
    position: fixed;
    bottom: 5px;
    right: 5px;
    user-select: none;
    z-index: 5;
}

.zoombar div {
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 4px rgba(0,0,0,0.1);
    float: left;
    margin-right: 5px;
    background: #fff;
    height: 24px;
    line-height: 24px;
    font-family: roboto;
    border-radius: 5px;
}

.pointer{
    cursor: pointer;
    transition: 0.1s;
}
.pointer:hover {
    background: #f5f5f5;
}

.colorbar {
    position: fixed;
    z-index: 5;
    left: 70px;
    bottom: 5px;
    transition: 0.3s;
    transform: translateY(100%);
    will-change: transform;
}
.colorbar.open{
    transform: translateY(0%);
}
.color {
    width: 40px;
    height: 40px;
    background: #f7f7f7;
    border-radius: 50px;
    margin: 15px 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2);
    text-align: center;
    cursor: pointer;
    padding-top: 8px;
    box-sizing: border-box;
    float: left;
    user-select: none;
}

#mover{
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1000;
    /*border: 1px solid #000;*/
    cursor:pointer;
}

#menuBox{
    position: fixed;
    bottom: 160px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2);
    left: 80px;
    transition: 0.3s ,0.2s opacity;
    transform:translateX(-110%);
    opacity: 0;
    visibility: hidden;
    will-change: transform;
}
#menuBox.open{
    transform:translateX(0%);
    opacity: 1;
    visibility: visible;
}
.menu-item{
    font-family: roboto;
    padding: 15px 20px;
}
.menu-item:hover{
    background: #ddd;
    cursor: pointer;
}

.ioBox {
    position: fixed;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 4px rgba(0,0,0,0.2);
    bottom: 150px;
    left: 70px;
    z-index: 10;
    transition: 0.2s;
    transform:scale(0);
    opacity: 0;
    padding: 45px 30px 30px;
    border-radius: 4px;
}

.ioBox.open{
    transform:scale(1);
    opacity: 1;
}

.closebtn {
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #bbb;
    position: absolute;
    top: 0;
    right: 0;
}
.closebtn:hover {
    color: #999;
}

.closebtn i {
    font-size: 30px;
}

.textbox {
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 3px;
}

.btn {
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: roboto;
    text-align: center;
    transition: 0.15s;
    user-select: none;
    border: 1px solid #eee;
}
.btn:hover {
    background: #eee;
    cursor: pointer;
}

.sealbtn{
    pointer-events: none;
    color: #ccc;
}
input#files.ok::before{
    content: "Fichier importé";
    border-color: #4CAF50;
    color: #4CAF50;
}
input#files::before {
    content: "Ouvrir un fichier";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 45px;
    border: 2px dashed #555;
    line-height: 42px;
    text-align: center;
    color: #555;
    box-sizing: border-box;

}
input#files {
    height: 45px;
    font-family: roboto;
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    outline:none;
}


.dotted{
    stroke-dasharray: 20;
}

.radios {
    margin: 10px 0;
}

.filename_div{
    margin-bottom: 5px;
    font-variant: all-small-caps;
    color: #ccc;
    font-size: 18px;
}

.radios input {
    -webkit-appearance: none;
    background: #dadada;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    vertical-align: -1px;
    outline: none;
    cursor: pointer;
}
.radios input:checked{
    background: #6f6f6f;
}

.typeLogo{
    color: lightgrey;
    position: fixed;
    z-index: 5;
    top: 55px;
    left: 15px;
    user-select: none;
}
#straightLogo, #dashLogo, #fillLogo{
    display: none;
}

.help {
    position: fixed;
    bottom: 70px;
    right: 10px;
    padding: 15px;
    text-align: right;
    color: #aaa;
    width: 270px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    user-select: none;
}

.help.active{
    opacity: 1;
    visibility: visible;
}

.helpkey {
    height: 40px;
    border: 1px solid;
    display: inline-block;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 3px;
}

.helpkey i{
    line-height: 40px;
    vertical-align: middle;
}

.half{
    width:50%;
    float:left;
}
